<app-navbar></app-navbar>

<style>
  #nnn {
    background: none;
    border: none;
    cursor: pointer;
  }

  .panel-heading {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-inputs {
    margin-top: 20px;
  }

  .search-inputs .form-control,
  .search-inputs .btn {
    margin-bottom: 10px;
  }

  .content-wrapper {
    background: url(assets/files/wall.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    height: 105vh;
    padding: 20px;
  }

  .table-responsive {
    margin-top: 20px;
  }
</style>

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="text-primary font-weight-bold">{{ 'Employee List' | translate }}</h1>
      </div>

      <div class="row search-inputs justify-content-center">
        <div class="col-md-3">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.name"
            placeholder="{{ 'Search Name' | translate }}" maxlength="30" (input)="validateInput($event, 'name')">
          <div *ngIf="!isValidNameInput" class="text-danger">{{ nameErrorMessage }}</div>
        </div>
        <!--  <div class="col-md-3">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.mobile"
            placeholder="{{ 'Search mobile' | translate }}" (input)="validateInput($event, 'mobile')">
          <div *ngIf="!isValidMobileInput" class="text-danger">{{ mobileErrorMessage }}</div>
        </div> -->

        <div class="col-md-3">
          <input type="date" class="form-control" [(ngModel)]="form.searchParams.dateOfJoining"
            (ngModelChange)="formatDate($event)" placeholder="{{ 'Search dateOfJoining' | translate }}">
        </div>

        <div class="col-md-3">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.lastEmployerName"
            placeholder="{{ 'Search lastEmployerName' | translate }}"  maxlength="30" (input)="validateInput($event, 'lastEmployerName')">
            <div *ngIf="!isValidNameInput" class="text-danger">{{ employerErrorMessage }}</div>
        </div>


        <div class="col-md-3">
          <select class="form-control" name="departmentId" [(ngModel)]="form.searchParams.departmentId"
            aria-label="ngSelected">
            <option [ngValue]="null">{{ 'Select department' | translate }}</option>
            <option *ngFor="let obj of form.preload.departmentList" [ngValue]="obj.key">{{ obj.value }}</option>
          </select>
        </div>
        </div>


      <div class="row mt-2 justify-content-center">
        <div class="col-md-2">
          <button (click)="submit()" class="btn btn-primary btn-block">{{ 'Search' | translate }}</button>
        </div>
        <div class="col-md-2">
          <button (click)="forward('/employee')" type="button" class="btn btn-success btn-block">{{ 'Add Employee' |
            translate }}</button>
        </div>
        <div class="col-md-2">
          <button (click)="deleteMany()" class="btn btn-danger btn-block">{{ 'Delete' | translate }}</button>
        </div>
      </div>

      <div *ngIf="form.error || form.message" class="row mt-2 justify-content-center">
        <div class="col-md-6">
          <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ form.message }}
          </div>
          <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ form.message }}
          </div>
        </div>
      </div>

      <div class="table-responsive mt-3">
        <table class="table table-bordered table-hover font-weight-bold text-dark">
          <thead class="thead-dark text-uppercase">
            <tr align="center">
              <th><input type="checkbox" [(ngModel)]="isMasterSel" name="list_name"
                  (change)="checkUncheckAll($event)" /></th>
              <th>{{ 'S.No' }}</th>
              <th>{{ 'name' }}</th>
              <th>{{ 'last employer name' }}</th>
              <th>{{ 'date of joining' }}</th>
              <th>{{ 'department' }}</th>
              <th>{{ 'Edit' }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of form.list; let i = index" align="center">
              <td><input type="checkbox" #checkboxes (change)="checklistUpdate()" name="list_name" [id]="m.id" /></td>
              <td>{{ (form.pageNo * 5) + i + 1 }}</td>
              <td>{{ m.name }}</td>
              <td>{{ m.lastEmployerName }}</td>
              <td>{{ convertToLocalDate(m.dateOfJoining) }}</td>
              <td>{{ m.departmentName }}</td>
              <td>
                <button class="fa fa-edit text-primary" id="nnn" (click)="forward('/inventory/' + m.id)"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-between mt-3">
        <button (click)="previous()" [disabled]="form.pageNo == 0" class="btn btn-info">{{ 'Previous' | translate
          }}</button>
        <div *ngIf="form.list.length == 0">
          <a class="btn btn-warning mr-1" [routerLink]="['/employeelist']" (click)="exit()">{{ 'Back' |
            translate }}</a>
        </div>
        <button (click)="next()" [disabled]="nextList == 0" class="btn btn-info">{{ 'Next' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>