<app-navbar></app-navbar>
<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .input-group-addon {
    box-shadow: 9px 8px 7px #001a33;
  }

  .required-field {
    color: red;
    font-weight: bold;
  }

  .alertRedColor {
    color: red;
  }

  .card-body {
    padding: 2rem;
  }

  .input-group-text i {
    width: 1.5rem;
  }

  .btn-primary,
  .btn-success,
  .btn-warning {
    width: 100%;
  }

  .form-control {
    height: calc(2.25rem + 2px);
  }

  .form-group {
    margin-bottom: 1.5rem;
  }

  .input-group-prepend .input-group-text {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
  }

  .input-group-prepend .input-group-text i {
    color: #495057;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .textarea-height {
    height: 100px;
  }

  .card {
    margin: auto;
    max-width: 500px;
  }
</style>

<div class="container-fluid"
  style="padding: 2% 0; background: url('assets/files/wall.jpg') no-repeat center center; background-attachment: fixed; background-size: cover; width: 100%; height: auto;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body input-group-addon grad">
          <form name="userForm">
            <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold text-center">{{ 'Add Inventory' |
              translate }}
            </h2>
            <h2 *ngIf="form.data.id" class="text-primary font-weight-bold text-center">{{ 'Update Inventory' |
              translate }}
            </h2>

            <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <div class="form-group">
              <label><b>{{ 'Product' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-flag grey-text"></i></div>
                </div>
                <select class="form-control" name="productId" [(ngModel)]="form.data.productId"
                  aria-label="ngSelected">
                  <option [ngValue]="undefined">{{ 'Select product' | translate }}</option>
                  <option *ngFor="let obj of form.preload.productList" [value]="obj.key">{{ obj.value }}</option>
                </select>
              </div>
              <span *ngIf="form.inputerror.productId" class="alertRedColor">{{form.inputerror.productId}}</span>
            </div>

            <div class="form-group">
              <label><b>{{ 'Supplier Name' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
                </div>
                <input type="text" name="supplierName" [(ngModel)]="form.data.supplierName" class="form-control"
                  placeholder="{{ 'Enter supplierName' | translate }}" 
                  (keypress)="validateAlphabetInput($event)" maxlength="30">
              </div>
              <span *ngIf="form.inputerror.supplierName" class="alertRedColor">{{form.inputerror.supplierName}}</span>
            </div>


            <div class="form-group">
              <label><b>{{ 'Quantity' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-phone grey-text"></i></div>
                </div>
                <input type="text" name="quantity" [(ngModel)]="form.data.quantity" class="form-control"
                       placeholder="{{ 'Enter quantity' | translate }}" (keypress)="validateNumericInput($event)" maxlength="4">
              </div>
              <span *ngIf="form.inputerror.quantity" class="alertRedColor">{{ form.inputerror.quantity}}</span>
            </div>
            
            <div class="form-group">
              <label><b>{{ 'Last Updated Date' | translate }}</b><span class="required-field"></span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-calendar-alt grey-text"></i></div>
                </div>
                <input type="date" name="lastUpdatedDate" [value]="form.data.lastUpdatedDate | date:'yyyy-MM-dd'"
                  (input)="form.data.lastUpdatedDate=parseDate($event.target.value)" class="form-control" required />
              </div>
              <span *ngIf="form.inputerror.lastUpdatedDate" class="alertRedColor">{{ form.inputerror.lastUpdatedDate
                }}</span>
            </div>


            <div class="row pt-2 pb-3 justify-content-center">
              <div class="col-md-4">
                <button *ngIf="!form.data.id" (click)="onUpload()" class="btn btn-success">{{ 'Save' | translate
                  }}</button>
              </div>
              <div class="col-md-4">
                <button *ngIf="form.data.id" (click)="onUpload()" class="btn btn-success">{{ 'Update' | translate
                  }}</button>
              </div>
              <div class="col-md-4">
                <a class="btn btn-warning" type="button" [routerLink]="['/inventorylist']">{{ 'List' | translate
                  }}</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>